@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@import './_variables.scss';

@import 'Header';
@import 'Layout';
@import 'SideBar';

/* Variables */
$primary-color: #ff5964;
$text-color: #333;
$bg-color: #f1f1f1;
$light-color: #fff;
$dark-color: #000;

$ff-primary: 'Poppins', sans-serif;

.MuiTabPanel-root {
  width: max-content !important;
}
.imgFond {
  background:  url('../img/imgPrincipal.jpg') no-repeat center center fixed; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom; 
  
  height: 100%;
}

.tapPanelFullWidth{
  width: 100% !important;
}
/* html { 
  background:  url('../img/imgPrincipal.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
 */
html, body, #root {
  height: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Typography */
body {
  font-family: $ff-primary;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}


/* About */
.about {
  padding: 50px 0;
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

  img {
    max-width: 100%;
    margin-bottom: 20px;
  }

  p {
    max-width: 800px;
    margin: 0 auto;
  }
}

/* Page 404 */
.page-404 {
  height: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: inherit;
  }

  p {

    a {
      color: $primary-color;
    }
  }
}